.letter{
    font-weight: medium;
    font-size: 25px;
    color: rgba(14, 14, 14, 0.5);
}
.btn{
    font-weight: semibold;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 12px 32px;
    border: none;
    cursor: pointer;
     
    
}
.btn:hover{
    background-color:  rgb(0, 160, 120);
    color: rgb(245, 244, 243);
}
.banner{
    width: 1600px;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around   ;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    

}
.banner-tittle{
    font-weight: bold;
    font-size: 56px;
}
.paragraph{
    font-weight: regular;
    font-size: 16px;

}
.the-vision{
    margin:  0 auto;
    width: 1600px;
}

.box1{
    width: 425px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 35px;
    border-radius: 15px;
     
    
}
.box2{
    width: 425px;
    height: 325px;
    background-color:  rgba(198, 228, 214, 1);
    padding: 35px;
    border-radius: 15px;
    
}
.box3{
    width: 425px;
    height: 325px;
    background-color:  rgba(247, 235, 207, 1);
    padding: 35px ;
    border-radius: 15px;
     
    
}
.btn1{
    background-color: rgba(84, 144, 245, 1);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    margin-top: 24px;
    cursor: pointer;
}
.btn2{
    background-color: rgba(9, 161, 92, 1) ;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    margin-top: 24px;
    cursor: pointer;
}
 
.btn3{
    background-color: rgba(255, 194, 57, 1) ;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    margin-top: 24px;
    cursor: pointer;
}

.vision{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 1600px;
     
    
}
.box-tittle{
    margin-top: 25px;
}
.btn1:hover{
    background-color:rgba(61, 112, 201);   
}

.btn2:hover{
    background-color: rgb(19, 117, 73);   
}
 
.btn3:hover{
    background-color:  rgb(163, 126, 38);   
}

.adviser-tittle{
    font-weight: semibold;
    font-size: 20px;
}
.adviser-description{
    font-weight: regular;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}
.chief-adviser{
    width: 1580px;
    height: 250px;
    background-color: white;
    margin: 0 auto;
    background-image: url(../assets/quote-bg.png);
    background-repeat:no-repeat ;
    padding:48px 24px ;
    margin-bottom: 80px;
    border-radius: 16px;
    background-position:24px 30px ;
    
    
}

body{
    background-color:rgba(241, 241, 243, 1);
}
 
.recent-news{
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.img-world{
    border-radius:24px ;
    /* width: 400px;
    height: 300px; */
}

.news1{
    background-color: white;
    display: flex;
     gap: 32px;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
     
}
.satellite .adviser-description{
margin-bottom: 46px;
}
.satellite-tittle{
    margin-top: 0px;
} 
.news2{
    background-color: white;
    display: flex;
     gap: 32px;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;}     

.news3{
        background-color: white;
        display: flex;
         gap: 32px;
        padding: 48px;
        border-radius: 24px;
        margin-bottom: 80px;
         
    }     
.donate{
    width: 1600px;
    margin: 0 auto;
    text-align: center;

} 
.donate-box{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;}
     
.taka-btn1{
    width: 240px;
    height: 130px;
    background-color: white;
    border-radius: 16px;
    color:rgba(14, 14, 14, 0.8) ;
    font-weight: bold;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.taka-btn1:hover{
    background-color: blanchedalmond;
} 
.taka-btn2{
    width: 240px;
    height: 130px;
    background-color:  rgba(198, 228, 214, 1);
    border-radius: 16px;
    color:rgba(14, 14, 14, 0.8) ;
    font-weight: bold;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.taka-btn2:hover{
    background-color:  rgb(142, 229, 189) ;}
.taka-btn3{
    width: 240px;
    height: 130px;
    background-color: white;
    border-radius: 16px;
    color:rgba(14, 14, 14, 0.8) ;
    font-weight: bold;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.taka-btn3:hover{
    background-color: rgb(247, 197, 213);}
.taka-btn4{
    width: 240px;
    height: 130px;
    background-color: white;
    border-radius: 16px;
    color:rgba(14, 14, 14, 0.8) ;
    font-weight: bold;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.taka-btn4:hover{
    background-color:  rgb(165, 208, 243);}
.donate-box{
    margin-bottom: 32px;
}   
.text{
    width: 1000px;
    height: 64px;
    border: none;
    font-weight: regular;
    font-size: 20px;
    color:rgba(14, 14, 14, 0.3);
    text-align: center;
    margin-bottom: 32px;
}       